/* My Style Sheet used to givr some styling to my index.HTML page*/
.tableCenter {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

#subButton, #clearButton {
    text-align: center;
}

#myTableData {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

